<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div id="choice">
            <input type="text" id="symbol">
            <select name="gap" id="gap"> <!-- Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo] -->
                <option value="1m">every minute</option>
                <option value="2m">every 2 minutes</option>
                <option value="5m">every 5 minutes</option>
                <option value="15m">every 15 minutes</option>
                <option value="30m">every 30 minutes</option>
                <option value="60m">every 60 minutes</option>
                <option value="90m">every 90 minutes</option>
                <option value="1h">hourly</option>
                <option value="1d" selected="selected">daily</option>
                <option value="5d">every 5 days</option>
                <option value="1wk">weekly</option>
                <option value="1mo">monthly</option>
                <option value="3mo">every 3 months</option>
            </select>
            <select name="range" id="range">
                <option value="1d">1 day</option>
                <option value="5d">5 days</option>
                <option value="1mo">1 month</option>
                <option value="3mo">3 months</option>
                <option value="6mo">6 months</option>
                <option value="ytd">year-touch-down</option>
                <option value="1y" selected="selected">1 year</option>
                <option value="2y">2 years</option>
                <option value="5y">5 years</option>
                <option value="10y">10 years</option>
                <option value="max">max</option>
            </select>
            <button onclick="get_image_new_tab()">go</button>
        </div>
        <div id="reserved"></div>
        <script>
            function get_image_new_tab() {
                var symb = document.getElementById("symbol").value;
                var gap = document.getElementById("gap").value;
                var rng = document.getElementById("range").value;
                var url = document.URL + `q?s=${symb}&g=${gap}&r=${rng}`;
                document.getElementById("reserved").textContent = url;
                window.open(url, "_blank");
            }
        </script>
    </body>